body {
    background-color: #fff8db;
    font-family: Arial;
    font-size: 20px;
    color: #e94e07;
}


h1,h2 {
    color: #ff5d15;
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    line-height: 1.5;
}

p {
    margin-top: 100px;
    text-align: center;
}
a {
   color: green;
}

.img1 {
    height: 150px;
    width: 150px;
    border: 2px solid rgb(233, 72, 21);
    border-radius: 10px;
    position: absolute;
    top: 3%;
    left: 19%;
}

.film {
    position: absolute;
    margin-top: 40px;
    margin-left:  23%;
    font-family: Arial;
    font-size: 18px;
    border: 2px solid rgb(233, 72, 21);
    border-radius: 10px;
    padding: 20px;
}

.centre {
    position: absolute;
    margin-top: 40px;
    margin-left:  46%;
    font-family: Arial;
    font-size: 18px;
    border: 2px solid rgb(233, 72, 21);
    border-radius: 10px;
    padding: 20px;
}
.acteur{
    position: absolute;
    margin-top: 40px;
    margin-left:  63%;
    font-family: Arial;
    font-size: 18px;
    border: 2px solid rgb(233, 72, 21);
    border-radius: 10px;
    padding: 20px;
}

.img2 {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 3%;
    left: 30%;
}
.img3 {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 3%;
    left: 50%;
}
.img4 {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 3%;
    left: 70%;
}










